<nav class="navbar navbar-light bg-light">
  <footer class="page-footer text-dark">
    <div class="container-fluid text-center">
      <%= link_to t('back'), '#', class: "nav-link"  %>
    </div>
  </footer>
</nav>
