<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-black" href="/">GoogleCal</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= button_to t('logout'), destroy_user_session_path, data: {turbo: "false"},
           method: :delete, class: "btn btn-light" %>
        </li>
        <% else %>
        <li class="nav-item active">
          <%= link_to t('login'), new_user_session_path, class: "nav-link text-black"  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
